# macos
.DS_Store

# linux
*~

# ide
.vscode/
.idea/
.obsidian/
.trash/

# nodejs
build/Release
node_modules/
jspm_packages/
.nuxt
.vite_opt_cache
dist/
cache/
pnpm-global
yarn.lock

# more
temp/
todo/
src/
